<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Inventário Mercadinho - Início</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="style/style.css">
</head>

<body>

	<div class="container">
		<nav class="grey darken-3">
			<div class="container nav-wrapper">
				<a href="/" class="brand-logo center">Detalhes do Produtos</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">					
					<li><a href="/produtos">Inicio</a></li>	
					<li><a href="/novoProduto">Inserir</a></li>				
				</ul>
			</div>
		</nav>
	</div>

	<div class="container">
		<div class="container">
			<table>
				<tr>	
					<th>Nome</th>			
					<th>Volume</th>
					<th>Unidade</th>
					<th>Estoque</th>
					<th>Editar</th>
					<th>Excluir</th>
					<th></th>
					<th></th>
				</tr>
				<tr th:each="produto : ${produtos}">	
				    <td>
							<span th:text="${produto.nome}"></span>
						</td>				
					<td>
							<span th:text="${produto.volume}"></span>
						</td>
					<td>
							<span th:text="${produto.unidade}"></span>
						</td>
					<td>
							<span th:text="${produto.estoque}"></span>
						</td>					
						
					<td>
							<span><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('PC#visualizarProduto').arg(0, produto.codigo)).build()}"><i class="material-icons">edit</i></a></span>
						</td>
					
					<td>
							<span><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('PC#deletarProduto').arg(0, produto.codigo)).build()}"><i class="material-icons">delete_forever</i></a></span>
						
				</tr>
			</table>
		</div>
	</div>




	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <script>document.addEventListener('DOMContentLoaded', function() {
	M.AutoInit();});</script>
</body>
<footer class="container page-footer grey darken-3">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Mercadinho-Hepta</h5>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">© 2019 Copyright Text</div>
	</div>
</footer>
</html>